<header
  class="relative z-50 h-16 border-b border-white/10 bg-space-panel/70 backdrop-blur-md flex items-center justify-between px-6"
>
  <div class="flex gap-5 items-center">
    <app-svg-icon icon="andromeSky-logo" class="h-full w-auto" />
    <h1 class="text-space-text text-2xl font-bold">AndromeSky</h1>
  </div>

  <div class="flex gap-5 items-center">
    <ng-content />
  </div>

  <nav class="flex gap-4">
    <button (click)="toExploration()" class="navigationLink-full">Exploration</button>

    <button (click)="toQuiz()" class="navigationLink-ghost">Quiz</button>
  </nav>
</header>
