<div
  class="sky-map-stage flex h-full w-full items-center justify-center p-2 sm:p-4"
  [class.sky-map-stage--dragging]="isDragging()"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
>

  <div class="sky-map-frame
      h-full
      w-full
      rounded-xl
      overflow-hidden
      border
      border-white/10
      shadow-2xl
      bg-black
      sm:h-[95%]
      sm:w-[95%]
      sm:rounded-3xl
    ">

    <div id="aladin-lite-div" class="w-full h-full"></div>

  </div>

</div>
