<aside
  class="w-80 border-r border-white/10 bg-space-panel/60 backdrop-blur-md p-4 flex flex-col gap-4 overflow-y-auto max-h-lvh min-h-full"
>
  @if (appStateService.isQuiz()) {
    @switch (quizService.state()) {
      @case (QuizStates.Settings) {
        <app-quiz-settings />
      }

      @case (QuizStates.Running) {
        <app-quiz-questions />
      }

      @case (QuizStates.Finished) {
        <app-quiz-results
          [score]="scoreService.game().score"
          [correctAnswers]="scoreService.game().correctAnswers"
          [totalQuestions]="quizService.totalQuestions()"
          [successRate]="scoreService.game().successRate"
          [resultMessage]="scoreService.resultMessage()"
          (restartQuiz)="restartQuiz()"
          (backToExploration)="backToExploration()"
        />
      }
    }
  } @else {
    <app-object-panel
      [currentObject]="currentObject()"
      [currentIndex]="currentIndex()"
      (previous)="toPreviousObject()"
      (next)="toNextObject()"
    />
  }
</aside>
